/* mobile L - 425px */

@media screen and (max-width:576px) {
    .container {
        margin: 2rem auto;
    }

    .nav_options {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner_container {
        flex-direction: column;
        /* align-items: center; */
        gap: 30px;
    }

    .banner_h1 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    #shape_text {
        font-size: 50px;
        /* font-weight: 400; */
        letter-spacing: normal;
    }

    .banner_p {
        font-size: 15px;
        width: 130%;
    }

    .div_btn {
        display: flex;
    }

    .btn_join {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }

    .upper_box {
        top: 10%;
        left: 100%;
    }

    .down_color_full_box {
        top: 75%;
        left: 0%;
    }

    .habits_box_container {
        flex-direction: column;
    }

    .bmi p {
        margin-top: 1rem;
        opacity: 0.5;
    }

    .bmi_table_container {
        flex-direction: column;
        /* width: 85%; */
    }

    .bmi_calc_1,
    .bmi_calc_2 {
        width: 100%;
    }

    .bmi_calc_1 {
        margin-bottom: 32px;
    }

    .bmi_calc_2 p {
        background: none;
    }

    .bmi_calc_2 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        padding-left: 10px;
        background: none;
    }

    .inp_height_weight,
    .inp_age_sex,
    .inp_activity_factor {
        width: 95%;
    }

    .meet_team br {
        display: none;
    }

    .meet_team>p {
        padding: 0 60px;
    }

    .grid_container {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .footer_upper {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_left br {
        display: none;
    }

    .extra_mile_container {
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
        width: 75%;
    }

    .extra_mile_content {
        width: 100%;
        padding-left: 0;
    }

    .extra_mile_content br {
        display: none;
    }

    .extra_mile_img_div {
        width: 100%;
    }

    .extra_mile_img_div img {
        object-fit: contain;
    }

    .btn_extra_mile {
        margin-bottom: 32px;
    }

    .btn_extra_mile button {
        width: 100%;
        height: 50px;
        font-size: 12px;
        font-size: 20px;
    }

    .challenge_container {
        width: 65%;
    }

    .num_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }


    .inp_height_weight input,
    .inp_age_sex input,
    select {
        font-size: 0.7em;
    }


}